@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #f6f7f8;
  --foreground: #0f172a;
}

.dark {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] transition-colors duration-200;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for dark mode */
.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
}
