@import "@b1dx/tokens/css";

:root {
  --background: var(--b1dx-color-bg-default);
  --foreground: var(--b1dx-color-fg-default);

  --muted: 210 40% 96%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --border: var(--b1dx-color-border-default);

  --primary: var(--b1dx-color-primary-default);
  --primary-foreground: var(
    --b1dx-color-primary-fg-default,
    var(--b1dx-color-primary-foreground)
  );

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
}

.dark {
  --background: var(--b1dx-color-bg-default);
  --foreground: var(--b1dx-color-fg-default);
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --border: var(--b1dx-color-border-dark);
  --primary: var(--b1dx-color-primary-dark);
  --primary-foreground: var(
    --b1dx-color-primary-fg-dark,
    var(--b1dx-color-primary-foreground)
  );
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
}

/* Apply semantic tokens */
/* html,
body {
  min-height: 100%;
}
*/
/* body {
  background-color: blue !important;
  color: hsl(var(--foreground));
}  */

/* DEBUG TEST - remove after verify */
/* html, body { background: hotpink !important; } */
